/* All html objects will be wrapped in the #wrap div */
@import url('https://fonts.googleapis.com/css?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


/* Normal Styles */

* {
	box-sizing: border-box;
	left: 0;
}

html, body {
	margin: 0;
	padding: 0;
	width: 500px;
	height: 150px;
	overflow: hidden;
	
}

#updates {
	position: absolute;
	background: rgba(0,0,0, .4);
	
}

#social {
	position: absolute;
	white-space: nowrap;
}

.network {
	width: auto;
	float: right;
}

.goalFollowNameStyle {
	color: rgba(191, 30, 46, 1);
	padding-left: 20px;
	position: relative;
}

.actualStatusStyle {
	/* padding-left: 20px; */
	padding-right: 0px;
	padding-left: 10px;
	position: relative;
}

.goalStyle {
	/* padding-left: 20px; */
	padding-right: 20px;
	padding-left: 0px;
	position: relative;
}


.borderTop {
	/* position: absolute; */
	height: 8px;
	width: 100%;
	top: 8px;
	left: 0;
}

.borderRight {
	position: absolute;
	width: 2px;
	top: 8px;
	right: -2px;
	height: 100%;
}

.borderLeft {
	position: absolute;
	width: 2px;
	top: 0;
	left: 0;
	height: 100%;
}

.inner {
	overflow: hidden;
	background: rgba(0,0,0, .4);
}

#social {
	transform-origin: right top;
}

#social .inner {
	margin-right: 0px;
	padding: 0 0 0px;
}

#social .item {
	position: absolute;
	top: 0;
	left: 0;
}

/* ------------------- Animations ------------------- */
/* Social Networks ---------------------------------- */
#social .borderTop{
	width: 0;
}

.network {
	width: 0;
}

.icon {
	padding-left: 15px;
	padding-top: 12px;
	font-size: 48px;
	line-height: 56px;

	white-space: nowrap;
  overflow: hidden;
  clear: both;
  display: inline-block;
}

.goalFollowNameStyle,.actualStatusStyle, .goalStyle{
	padding-top: 10px;
	/* font-size: 56px;
	line-height: 56px; */
	font-size: 8px;
	line-height: 8px;

	white-space: nowrap;
  overflow: hidden;
  clear: both;
	display: inline-block;
}

#social .animated .borderTop {
	animation: soBorderTop 60s forwards;
	/* float: right; */
}

@keyframes soBorderTop {
  0% { width: 0%;}
  1.16% {width: 100%;}
  98.84% {width: 100%;}
  100% {width: 0%;}
}

#social .animated .network {
	float: right;
	animation: network 60s forwards;
	
}

@keyframes network {
  0% { width: 0%; padding-right: calc(0 - 100%);}
  0.23% { width: 0%; padding-right: calc(0 - 100%);}
  1.4% {width: 100%; padding-right: calc(0 - 100%);}
  98.6% {width: 100%;padding-right: calc(0 - 100%);}
	99.77% {width: 0%;padding-right: calc(0 - 100%);}
	100% {width: 0%;padding-right: calc(0 - 100%);}
}

.animated .icon {
	animation: icon 60s forwards;
}

@keyframes icon {
  0% { left: -1600px;}
  1.4% { left: -1600px;}
  3.03% { left: 0;}
  96.96% {left: 0px;}
  98.6% {left: -1600px;}
  100% { left: -1600px;}
}

.animated .goalFollowNameStyle {
	animation: goalFollowNameStyle 60s forwards;
}

@keyframes goalFollowNameStyle {
  0% { left: -1600px;}
  0.93% { left: -1600px;}
  2.56% { left: 0;}
  97.44% {left: 0px;}
  99.07% {left: -1600px;}
  100% { left: -1600px;}
}

.animated .actualStatusStyle {
	animation: actualStatusStyle 60s forwards;
}

@keyframes actualStatusStyle {
  0% { left: 1600px;}
  1.4% { left: 1600px;}
  3.03% { left: 0;}
  96.96% {left: 0px;}
  98.6% {left: 1600px;}
  100% { left: 1600px;}
}

.animated .goalStyle {
	animation: goalStyle 60s forwards;
}

@keyframes goalStyle {
  0% { left: 1600px;}
  1.4% { left: 1600px;}
  3.03% { left: 0;}
  96.96% {left: 0px;}
  98.6% {left: 1600px;}
  100% { left: 1600px;}
}

.primaryFont {
	color: #FFF;
	font-family: 'Montserrat', sans-serif;
}

.secondaryFont {
	color: #eadc04;
	font-family: 'Montserrat', sans-serif;
}
